@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Zeyada&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fbfaf6;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  display: flex;
  background-color: #fbfaf6;
  color: #fff;
  height: 350px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: 'Zeyada', cursive;
}

header img {
  height: 300px;
}

header p {
  color: #c4a97a;
}

main {
  display: flex;
  color: #1c4f3c;
}

footer {

  color: #3f4e2f;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

img {
  height: 150px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: 'Zeyada', cursive;
  font-size: 60px;
  color: #755735;
  margin: 0 auto;
}

h2 {
  color: #c4a97a;
  margin: 0;
}

h3 {
  background-color: #d6dfca;
  color: #3f4e2f;
  padding: 5px 10px;
  border: #d6dfca solid 1px;
}

h5 {
  margin: 0;
  padding: 10px 0;
}

select {
  width: 100%;
}

label {
  color: #3f4e2f;
  padding: 5px;
  margin: 20px 10px;
  /* border: 1px solid #3f4e2f; */
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  opacity: 0;
}

.col-33 {
  /* width: 33%; */
  margin: 15px;
  text-align: center;
}

.col-33 p {
  text-align: left;
  font-size: 13px;
}

.sib {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.sib img {
  height: 30px;
}

.footer-bar h5 {
  margin: 2px;
  padding: 0;
}

.news-letter {
  background-color: #d6dfca;
  color: #3f4e2f;
  width: 300px;
  padding: 12px;
  text-align: center;
  margin: 0 auto;
}

.back-home {
  margin-top: 20px;
  background-color: #d6dfca;
  color: #3f4e2f;
  padding: 5px;
  border: #3f4e2f dashed 1px;
}

.search-btn {
  margin: 0;
  font-size: 15px;
  background-color: #d6dfca;
  color: #3f4e2f;
  padding: 5px;
  border: #3f4e2f solid 1px;
}

.search-results {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-items: stretch;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.display-map {
  margin: 25px 0 50px 0;
  ;
}

#first-div {
  margin-right: 10px;
}

#criteriaHidden {
  margin-top: 20px;
}